.column {
    width: 200px;
    height: 200px;
    border: black solid 2px;
    display: flex;
    z-index: 1000;
}

.column > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 100px;
}

#grid {
    display: flex;
}

#turn-container {
    display: flex;
    align-content: space-between;
    padding: 3px;
}

#turn-container > li {
    border: solid black 2px;
    padding: 1rem;
    list-style-type: none;
    margin: 2rem;
}

#turn {
    background-color: lightblue;
}